.happyBox h2{
    color:#1d5d9a;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 15px;
}

.happy{
    background-image: url(./assets/images/bgImg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    padding: 6rem 0rem 6rem;
}

.reviewBox p{
    background-color: white;
    color: #212529;
    line-height: 30px;
    padding: 50px;
    border-left: 4px solid #4084c5;
    
}

.reviewBox figure img{
    height: 5rem;
    width: 5rem;
}

.reviewBox h4{
    font-weight: 400;
    padding-left: 8px;
}

.customer{
    padding-right: 100rem;
    padding-top: 30px;
    display: flex;
    align-items: top;
}